# Environment
.env
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.manifest
*.spec

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store

# Testing / coverage
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/
